<p-menubar [model]="items">
  <ng-template #start>
      <a [routerLink]="['/']">
          <i class="pi pi-wallet m-2"></i>
          <span>MyBadWallet</span>
      </a>
  </ng-template>
  <ng-template #item let-item let-root="root">
      <ng-container>
          <a [routerLink]="item.route" class="p-menubar-item-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
          </a>
      </ng-container>
  </ng-template>

  <ng-template #end>
      <i class="pi pi-circle-fill m-2" style="color: rgb(64, 192, 64)" pTooltip="BE OK"></i>
      <i class="pi pi-circle-fill m-2" style="color: rgb(230, 45, 20)" pTooltip="BE KO"></i>
  </ng-template>
</p-menubar>