<div class="card relative w-full mt-5"> 
  <p-chart type="bar" [data]="inputData" [options]="options" class="w-full md:w-[30rem]" />
  <div class="absolute top-0 right-0">
    <p-floatlabel variant="on">
      <p-datepicker
        [(ngModel)]="selectedYear"
        (ngModelChange)="initChart()"
        styleClass="w-40"
        view="year"
        dateFormat="yy"
        [showButtonBar]="true"
        showIcon
        iconDisplay="input"
      />
      <label for="YearLabel">Year</label>
    </p-floatlabel>
  </div>
</div>