<div class="card" [style]="{ 'min-width': '25rem'}">
  <p-table
    [value]="assetCategoryList()"
    dataKey="id"
    editMode="row"
    [size]="'small'"
    scrollable
    scrollHeight="500px"
    showGridlines
    stripedRows
  >
    <ng-template #caption>
      <div class="flex flex-wrap items-center justify-between">
        <span class="text-xl font-bold">Asset Category</span>

        <div class="flex gap-2">
          <p-button
            severity="info"
            icon="pi pi-plus"
            [rounded]="true"
            (onClick)="addNewAssetCategory()"
          />
          <p-button
            severity="secondary"
            icon="pi pi-refresh"
            [rounded]="true"
            (onClick)="ngOnInit()"
          />
        </div>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th pSortableColumn="name">Name</th>
        <th class="w-14" pSortableColumn="isInvested">Invested</th>
        <th class="w-14"></th>
        <th class="w-14"></th>
      </tr>
    </ng-template>
    <ng-template 
      #body 
      let-assetCategory
      let-editing="editing" 
      let-ri="rowIndex">
      <tr [pEditableRow]="assetCategory">
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="assetCategory.name" />
            </ng-template>
            <ng-template #output>
              {{ assetCategory.name }}
            </ng-template>
          </p-cellEditor>
        </td>         

        <td class="text-center">
          <p-cellEditor>
            <ng-template #input>
              <!-- Checkbox per il valore booleano -->
              <p-checkbox [(ngModel)]="assetCategory.isInvested" binary></p-checkbox>
            </ng-template>
            <ng-template #output>
              <!-- Mostra il valore booleano come checkbox disabilitato -->
              <i *ngIf="assetCategory.isInvested" class="pi pi-check"></i>
              <i *ngIf="!assetCategory.isInvested" class="pi pi-times"></i>
            </ng-template>
          </p-cellEditor>
        </td>

        <td class="p-0">
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditStart(assetCategory)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(assetCategory)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel()"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>

        <td class="p-0">
          <div class="flex items-center justify-center gap-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              (click)="deleteAssetCategory(assetCategory)"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast />
<app-paramConfirmationDialog></app-paramConfirmationDialog>
