<div class="grid grid-cols-12 gap-4 mt-3 mb-3">
  <div class="col-span-12">
    <app-expenseTable
      [expenseList]="expenseList"
      [expenseTypeList]="expenseTypes"
      [expenseCategoryList]="expenseCategories"
      (editExpenseCallBack)="showEditExpenseDialog($event)"
      (deleteExpenseCallBack)="deleteExpense($event)"
    >
    </app-expenseTable>
  </div>

  <div class="grow col-span-12 flex flex-wrap gap-4 justify-center">
    <div class="flex flex-grow mb-4 w-full">
      <app-expensePieChartPanel
        [expenseCategoryList]="expenseCategories"
        [expenseList]="expenseList"
      >
      </app-expensePieChartPanel>
    </div>
  </div>

  <!--
  <div class="grow col-span-12 flex flex-wrap gap-4 justify-center">
    <div class="mb-4 border-2 w-full">
      <app-expenseTypeLinearChart
        [expenseList]="expenseList"
        [expenseTypeList]="expenseTypes"
      ></app-expenseTypeLinearChart>
    </div>
    <div class="grow col-span-12 flex flex-wrap gap-4 justify-center">
      <div class="mb-4 border-2">
        <app-expenseTypePieChart
          [expenseList]="expenseList"
        ></app-expenseTypePieChart>
      </div>
      <div class="mb-4 border-2">
        <app-expenseCategoryPieChart
          [expenseList]="expenseList"
        ></app-expenseCategoryPieChart>
      </div>
    </div>
  </div>
  -->
</div>

<p-dialog
  header="Edit Expense"
  [styleClass]="'w-[60vh] h-[80vh]'"
  [(visible)]="displayExpenseEditPanel"
  [modal]="true"
  [closable]="true"
>
  <app-editExpense
    (editExpenseCallBack)="editExpense($event)"
    (addExpenseCallBack)="addExpense($event)"
  ></app-editExpense>
</p-dialog>

<p-toast />
<app-paramConfirmationDialog></app-paramConfirmationDialog>

<div class="add-container">
  <p-button
    styleClass="action-button"
    severity="success"
    icon="pi pi-plus"
    [rounded]="true"
    (click)="showAddExpenseDialog()"
  >
  </p-button>
</div>
