<div class="card">
  <p-table
  
  showGridlines
    [size]="'small'"
    [value]="assetOperationList"
    [scrollable]="true"
    scrollHeight="300px"
    [tableStyle]="{ 'min-width': '30rem' }"
  >
    <ng-template #header>
      <tr>
        <th class="pt-0 pb-0 b-0" pSortableColumn="asset.name">
          Asset
          <p-columnFilter
            field="asset.name"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            class="ml-auto"
          >
            <ng-template #filter let-asset let-filter="filterCallback">
              <p-multiselect
                [filter]="true"
                [ngModel]="asset"
                [options]="assetList"
                optionLabel="name"
                optionValue="name"
                placeholder="Any"
                (onChange)="filter($event.value)"
                class="w-full"
              >
                <ng-template let-type #item>
                  <div class="flex items-center gap-2">
                    <span>{{ type.name }}</span>
                  </div>
                </ng-template>
              </p-multiselect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="w-12 text-center pt-0.5 pb-0">Action</th>
        <th class="pt-0 pb-0" pSortableColumn="operation.date">
          Date
          <p-columnFilter type="date" field="operation.date" display="menu">
            <ng-template
              pTemplate="filter"
              let-value
              let-filter="filterCallback"
            >
              <p-datepicker
                [ngModel]="value"
                (onSelect)="filter($event)"
                dateFormat="dd/mm/yy"
              />
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="pt-0 pb-0" pSortableColumn="operation.operationType">
          Type
          <p-columnFilter
            field="operation.operationType"
            matchMode="in"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            class="ml-auto"
          >
            <ng-template #filter let-asset let-filter="filterCallback">
              <p-multiselect
                [filter]="true"
                [ngModel]="asset"
                [options]="operationType"
                placeholder="Any"
                (onChange)="filter($event.value)"
                class="w-full"
              >
                <ng-template let-type #item>
                  <div class="flex items-center gap-2">
                    <span>{{ type }}</span>
                  </div>
                </ng-template>
              </p-multiselect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="pt-0 pb-0" pSortableColumn="operation.share">
          Share
          <p-columnFilter
            type="numeric"
            field="operation.share"
            display="menu"
          />
        </th>
        <th class="pt-0 pb-0" pSortableColumn="operation.pmc">
          PMC (€)
          <p-columnFilter
            type="numeric"
            field="operation.pmc"
            display="menu"
            currency="EUR"
          />
        </th>
        <th class="pt-0 pb-0" pSortableColumn="totalImport">
          Total (€)
          <p-columnFilter
            type="numeric"
            field="totalImport"
            display="menu"
            currency="EUR"
          />
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-assetOperation let-rowIndex="rowIndex">
      <tr
        [ngClass]="
          assetOperation.operation.operationType === 'BUY' ? 'buy' : 'sell'
        "
      >
        <td>{{ assetOperation.asset.name }}</td>
        <td class="p-0">
          <div class="flex items-center">
            <button
              class="border-spacing-0 p-0 m-0"
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              (click)="editAssetOperation(assetOperation)"
              text
              rounded
              severity="secondary"
            ></button>
  
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              (click)="deleteAssetOperation(assetOperation)"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
        <td>{{ assetOperation.operation.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ assetOperation.operation.operationType }}</td>
        <td>{{ assetOperation.operation.share | number : "1.2-2" : "it-IT" }}</td>
        <td>{{ assetOperation.operation.pmc | number : "1.2-2" : "it-IT" }}</td>
        <td>{{ assetOperation.totalImport | number : "1.2-2" : "it-IT" }}</td>
      </tr>
    </ng-template>

    <ng-template #footer> </ng-template>
  </p-table>
</div>
