<div class="card">
  <p-table
    [value]="assetValueSummaryFiltered"
    dataKey="asset.name"
    rowGroupMode="subheader"
    editMode="row"
    [size]="'small'"
    groupRowsBy="asset.category.name"
    showGridlines
  >
    <ng-template #caption>
      <div class="flex flex-wrap items-center justify-between">
        <span class="text-xl font-bold">Assets</span>

        <div class="flex gap-2">
          <p-button
            severity="secondary"
            icon="pi pi-refresh"
            [rounded]="true"
            (onClick)="loadAssetsSummaryByMonth()"
          />
          <p-floatlabel variant="on" class="align-middle">
            <p-datepicker
              [(ngModel)]="selectedYear"
              (ngModelChange)="filterAssetValueSummary()"
              styleClass="w-40"
              view="year"
              dateFormat="yy"
              [showButtonBar]="true"
              ngModel
              showIcon
              iconDisplay="input"
            />
            <label for="YearLabel">Year</label>
          </p-floatlabel>
        </div>
      </div>
    </ng-template>

    <ng-template #header>
      <tr class="bg-blue-200">
        <th class="bg-transparent w-48">Name</th>
        <th class="bg-transparent w-14"></th>
        <th class="bg-transparent">Gen</th>
        <th class="bg-transparent">Feb</th>
        <th class="bg-transparent">Mar</th>
        <th class="bg-transparent">Apr</th>
        <th class="bg-transparent">Mag</th>
        <th class="bg-transparent">Giu</th>
        <th class="bg-transparent">Lug</th>
        <th class="bg-transparent">Ago</th>
        <th class="bg-transparent">Set</th>
        <th class="bg-transparent">Ott</th>
        <th class="bg-transparent">Nov</th>
        <th class="bg-transparent">Dic</th>
      </tr>
    </ng-template>

    <ng-template #groupheader let-assetSummaryItem>
      <tr pRowGroupHeader class="bg-slate-400">
        <td>
          <div class="flex items-center gap-2">
            <span class="font-bold">{{
              assetSummaryItem.asset.category.name
            }}</span>
          </div>
        </td>
        <td></td>
        <td class="bg-transparent" *ngFor="let monthIndex of monthIndexArray">
          {{
            CalculateCategoryGroupHeaderMonth(
              assetSummaryItem.asset.category,
              monthIndex
            ) | number : "1.2-2" : "it-IT"
          }}
        </td>
      </tr>
    </ng-template>

    <ng-template
      #body
      let-assetSummaryItem
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="assetSummaryItem">
        <td>{{ assetSummaryItem.asset.name }}</td>
        <td class="p-0">
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditStart(assetSummaryItem)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(assetSummaryItem)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel()"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
        <td
          class="bg-transparent"
          *ngFor="let monthIndex of monthIndexArray"
          tooltip="Doppio click per modificare il valore"
        >
          <p-cellEditor>
            <ng-template #input>
              <input
                style="padding: 3px"
                pInputText
                type="number"
                class="w-20"
                [(ngModel)]="assetSummaryItem.assetValueList[monthIndex].value"
              />
            </ng-template>
            <ng-template #output>
              <span>
                {{
                  assetSummaryItem.assetValueList[monthIndex].value
                    | number : "1.2-2" : "it-IT"
                }}
              </span>
              <i
                *ngIf="
                  assetSummaryItem.assetValueList[monthIndex].note?.trim() !==
                  ''
                "
                class="pi pi-info-circle text-blue-500"
                [pTooltip]="assetSummaryItem.assetValueList[monthIndex].note"
                tooltipPosition="top"
              ></i>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>

    <ng-template #footer>
      <tr class="!bg-red-400">
        <td class="font-bold bg-transparent">Totale</td>
        <td class="bg-transparent"></td>
        <td class="bg-transparent" *ngFor="let monthIndex of monthIndexArray">
          {{ assetSumTotalByMonth[monthIndex] | number : "1.2-2" : "it-IT" }}
        </td>
      </tr>
      <tr class="!bg-blue-400">
        <td class="font-bold bg-transparent">Delta</td>
        <td class="bg-transparent"></td>
        <td class="bg-transparent" *ngFor="let monthIndex of monthIndexArray">
          {{ assetDeltaByMonth[monthIndex] | number : "1.2-2" : "it-IT" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast />
<app-paramConfirmationDialog></app-paramConfirmationDialog>
