<div class="card">
  <p-table showGridlines [size]="'small'" [value]="assetValueSummaryFiltered"
    rowGroupMode="subheader" groupRowsBy="asset.assetCategory.name" [tableStyle]="{'min-width': '60rem'}">
    
    <ng-template #caption>
      <div class="flex flex-wrap items-center justify-between">
        <span class="text-xl font-bold">Assets</span>

        <div class="flex gap-2">
          <p-floatlabel variant="on" class="align-middle">
            <p-datepicker
              [(ngModel)]="selectedYear"
              (ngModelChange)="filterAssetValueSummary()"
              styleClass="w-40"
              view="year"
              dateFormat="yy"
              [showButtonBar]="true"
              ngModel
              showIcon
              iconDisplay="input"
            />
            <label for="YearLabel">Year</label>
          </p-floatlabel> 
        </div>
      </div>
    </ng-template>
    
    <ng-template #header>
      <tr class="bg-blue-200">
        <th class="bg-transparent w-48">Name</th>
        <th class="bg-transparent">Gen</th>
        <th class="bg-transparent">Feb</th>
        <th class="bg-transparent">Mar</th>
        <th class="bg-transparent">Apr</th>
        <th class="bg-transparent">Mag</th>
        <th class="bg-transparent">Giu</th>
        <th class="bg-transparent">Lug</th>
        <th class="bg-transparent">Ago</th>
        <th class="bg-transparent">Set</th>
        <th class="bg-transparent">Ott</th>
        <th class="bg-transparent">Nov</th>
        <th class="bg-transparent">Dic</th>
      </tr>
    </ng-template>

    <ng-template #groupheader let-assetSummaryItem>
      <tr pRowGroupHeader class="bg-slate-400">
        <td>
          <div class="flex items-center gap-2">
            <span class="font-bold">{{ assetSummaryItem.asset.assetCategory.name }}</span>
          </div>
        </td>
        
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 0) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 1) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 2) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 3) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 4) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 5) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 6) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 7) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 8) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 9) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 10) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupHeaderMonth(assetSummaryItem.asset.assetCategory, 11) | number: '1.2-2':'it-IT' }}</td>
      </tr>
    </ng-template>
  

    <ng-template #body let-assetSummary let-rowIndex="rowIndex">
      <tr>
        <td>{{ assetSummary.asset.name}}</td>
        <td>{{ assetSummary.assetValueList[0].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[1].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[2].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[3].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[4].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[5].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[6].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[7].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[8].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[9].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[10].value | number: '1.2-2':'it-IT' }}</td>
        <td>{{ assetSummary.assetValueList[11].value | number: '1.2-2':'it-IT' }}</td>
      </tr>
    </ng-template>

    <ng-template #footer>
      <tr class="!bg-red-400">
        <td class="font-bold bg-transparent">Totale</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[0] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[1] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[2] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[3] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[4] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[5] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[6] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[7] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[8] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[9] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[10] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetSumTotalByMonth[11] | number: '1.2-2':'it-IT' }}</td>
      </tr>
      <tr class="!bg-blue-400">
        <td class="font-bold bg-transparent">Delta</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[0] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[1] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[2] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[3] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[4] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[5] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[6] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[7] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[8] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[9] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[10] | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ assetDeltaByMonth[11] | number: '1.2-2':'it-IT' }}</td>
      </tr>
    </ng-template>
  
  </p-table>
</div>
<p-toast />
<app-param-confirmation-dialog></app-param-confirmation-dialog>
