<form [formGroup]="editExpenseForm" (ngSubmit)="onUserSave()">

    <p-floatlabel class="m-3" variant="on">
        <input [fluid]="true" pInputText id="expName" formControlName="expName" autocomplete="off" required/>
        <label for="expName">Name</label>
    </p-floatlabel>

    <p-floatlabel class="m-3" variant="on">
        <p-datepicker
            [fluid]="true"
            formControlName="expDate" 
            inputId="expDate" 
            iconDisplay="input" 
            dateFormat="dd/mm/yy" 
            showIcon />
        <label for="expDate">Date</label>
    </p-floatlabel>
    
    <p-floatlabel class="m-3" variant="on">
        <p-select 
            (onChange)="changeSelectedType($event)"
            formControlName="expType" 
            [options]="expenseTypes"
            [fluid]="true"
            optionLabel="name" 
            placeholder="Type"
            [filter]="true" 
            filterBy="name"/>
        <label for="expType">Type</label>
    </p-floatlabel>
    
    <p-floatlabel class="m-3" variant="on">
        <input [fluid]="true" pInputText id="expCategory" formControlName="expCategory" variant="filled" readonly/>
        <label for="expCategory">Category</label>
    </p-floatlabel>

    <p-floatlabel class="m-3" variant="on">
        <p-inputnumber [fluid]="true" formControlName="expAmount" inputId="expAmount" mode="currency" currency="EUR" locale="it-IT" />
        <label for="expAmount">Amount</label>
    </p-floatlabel>  
    
    <p-floatlabel class="m-3" variant="on">
        <input [fluid]="true" pInputText id="expNote" formControlName="expNote" autocomplete="off"/>
        <label for="expNote">Note</label>
    </p-floatlabel>

    <hr class="m-3">    
    
    <div class="flex justify-center">
        <p-button label="Edit Expense" severity="warn" type="submit" icon="pi pi-pencil" />
    </div>
</form>
