<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
  <div class="flex">
    <div class="w-1/2 pt-1">
      <div class="flex items-center space-x-2">
        <p class="card-name">{{ asset.name }}</p>
        <a [href]="asset.url" target="_blank">
          <i class="pi pi-external-link text-orange-500 text-sm"></i>
        </a>
      </div>

      <p class="card-isin">{{ asset.isin }}</p>
      <p class="card-isin">
        {{ asset.share }} /
        {{ asset.pmc | currency : "EUR" : "symbol" : "1.2-2" : "it-IT" }}
      </p>
    </div>
    <div class="w-1/2">
      <p class="card-value text-right">
        {{
          asset.currentValue * asset.share
            | currency : "EUR" : "symbol" : "1.2-2" : "it-IT"
        }}
      </p>
      <p class="card-value-delta text-right">
        {{ assetValueDeltaString }}
      </p>
    </div>
  </div>

  <textarea
    class="mt-2 mb-2"
    pTextarea
    [(ngModel)]="asset.note"
    rows="5"
    readonly
    style="width: 100%"
  ></textarea>

  <p-table
    stripedRows
    showGridlines
    [size]="'small'"
    [value]="assetOperationList"
    [scrollable]="true"
    scrollHeight="300px"
  >
    <ng-template #header>
      <tr>
        <th class="pt-0 pb-0" pSortableColumn="operation.date">Date</th>
        <th class="pt-0 pb-0" pSortableColumn="operation.share">Share</th>
        <th class="pt-0 pb-0" pSortableColumn="operation.pmc">PMC (€)</th>
        <th class="pt-0 pb-0" pSortableColumn="totalImport">Total (€)</th>
      </tr>
    </ng-template>

    <ng-template #body let-operation let-rowIndex="rowIndex">
      <tr [ngClass]="operation.operationType === 'BUY' ? 'buy' : 'sell'">
        <td>{{ operation.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ operation.share | number : "1.2-2" : "it-IT" }}</td>
        <td>{{ operation.pmc | number : "1.2-2" : "it-IT" }}</td>
        <td>
          {{ operation.share * operation.pmc | number : "1.2-2" : "it-IT" }}
        </td>
      </tr>
    </ng-template>

    <ng-template #footer> </ng-template>
  </p-table>
</p-card>
