<div class="card" [style]="{ 'min-width': '25rem' }">
  <p-table
    [value]="assetList"
    dataKey="id"
    editMode="row"
    [size]="'small'"
    scrollable
    scrollHeight="500px"
    showGridlines
    stripedRows
  >
    <ng-template #caption>
      <div class="flex flex-wrap items-center justify-between">
        <span class="text-xl font-bold">Asset</span>

        <div class="flex gap-2">
          <p-button
            severity="info"
            icon="pi pi-plus"
            [rounded]="true"
            (onClick)="addNewAsset()"
          />
          <p-button
            severity="secondary"
            icon="pi pi-refresh"
            [rounded]="true"
            (onClick)="ngOnInit()"
          />
        </div>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th pSortableColumn="name">Name</th>
        <th class="w-14" pSortableColumn="category.name">Category</th>
        <th
          class="w-14 items-center text-center"
          pSortableColumn="category.isInvested"
        >
          Invested
        </th>
        <th pSortableColumn="isin">ISIN</th>
        <th class="w-44" pSortableColumn="url">URL</th>
        <th class="w-44" pSortableColumn="note">Note</th>
        <th class="w-14"></th>
        <th class="w-14"></th>
      </tr>
    </ng-template>
    <ng-template #body let-asset let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="asset">
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="asset.name" />
            </ng-template>
            <ng-template #output>
              {{ asset.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="assetCategoryList"
                optionLabel="name"
                appendTo="body"
                [(ngModel)]="asset.category"
                [style]="{ width: '100%' }"
              />
            </ng-template>
            <ng-template #output>
              {{ asset.category.name }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td class="text-center">
          <i *ngIf="asset.category.isInvested" class="pi pi-check"></i>
          <i *ngIf="!asset.category.isInvested" class="pi pi-times"></i>
        </td>

        <td>
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="asset.isin" />
            </ng-template>
            <ng-template #output>
              {{ asset.isin }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template #input>
              <input pInputText type="text" [(ngModel)]="asset.url" />
            </ng-template>
            <ng-template #output>
              {{ asset.url }}
            </ng-template>
          </p-cellEditor>
        </td>
<!--    <td>
          <p-cellEditor>
            <ng-template #input>
              <input pTextArea type="text" [(ngModel)]="asset.note" />
            </ng-template>
            <ng-template #output>
              {{ asset.note }}
            </ng-template>
          </p-cellEditor>
        </td>
      -->
      <td>
        <p-cellEditor>
          <ng-template #input>
            <textarea rows="1" cols="30" pTextarea [(ngModel)]="asset.note"></textarea>
          </ng-template>
          <ng-template #output>
            {{ asset.note }}
          </ng-template>
        </p-cellEditor>
      </td>
        <td class="p-0">
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditStart(asset)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(asset)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel()"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>

        <td class="p-0">
          <div class="flex items-center justify-center gap-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              (click)="deleteAsset(asset)"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast />
<app-paramConfirmationDialog></app-paramConfirmationDialog>
