<div class="grid grid-cols-12 gap-4 mt-3 mb-3">
  <div class="col-span-12 space-y-6">
    <div class="flex flex-wrap gap-3">
      <div *ngFor="let asset of assetList">
        <app-assetCard
          [asset]="asset"
          [operationList]="operationList"
          (addAssetOperationCallBack)="showAddAssetOperationDialog($event)"
          (updateAssetValueCallBack)="updateAssetValue($event)"
        ></app-assetCard>
      </div>
    </div>

    <div>
      <app-financialAssetLineChart
        (updateAllAssetValueCallBack)="updateAllAssetValue()"
      ></app-financialAssetLineChart>
    </div>

    <div>
      <app-assetOperationTable
        (editAssetOperationCallBack)="showEditAssetOperationDialog($event)"
        (deleteAssetOperationCallBack)="deleteAssetOperation($event)"
      ></app-assetOperationTable>
    </div>
  </div>
</div>

<p-dialog
  header="Edit Asset Operation"
  [styleClass]="'w-[60vh] h-[80vh]'"
  [(visible)]="displayAssetOperationEditPanel"
  [modal]="true"
  [closable]="true"
>
  <app-editAssetOperation
    [assetList]="assetList"
    (editAssetOperationCallBack)="editAssetOperation($event)"
    (addAssetOperationCallBack)="addAssetOperation($event)"
  ></app-editAssetOperation>
</p-dialog>

<p-toast />
<app-paramConfirmationDialog></app-paramConfirmationDialog>

<div class="add-container">
  <p-button
    styleClass="action-button"
    severity="success"
    icon="pi pi-plus"
    [rounded]="true"
    (click)="showAddAssetOperationDialog()"
  >
  </p-button>
</div>
