<div class="grid grid-cols-12 gap-4 mt-3 mb-3">
  <div class="col-span-12">
    <app-incomeTable
      [incomeList]="incomList"
      [incomeTypeList]="incomeTypeList"
      (editIncomeCallBack)="showEditIncomeDialog($event)"
      (deleteIncomeCallBack)="deleteIncome($event)"
    ></app-incomeTable>
  </div>

  <div class="grow col-span-12 flex flex-wrap gap-4 justify-center">
    <div class="w-full">
      <app-incomeSummaryTable
        [incomeList]="incomList"
        [incomeTypeList]="incomeTypeList"
      >
      </app-incomeSummaryTable>
    </div>
  </div>

  <div class="col-span-12">
    <app-incomeStackedBarChart
      [incomeList]="incomList"
      [incomeTypeList]="incomeTypeList"
    ></app-incomeStackedBarChart>
  </div>

</div>

<p-dialog
  header="Edit Income"
  [styleClass]="'w-[60vh] h-[80vh]'"
  [(visible)]="displayIncomeEditPanel"
  [modal]="true"
  [closable]="true"
>
  <app-editIncome
    (editIncomeCallBack)="editIncome($event)"
    (addIncomeCallBack)="addIncome($event)"
  ></app-editIncome>
</p-dialog>

<p-toast />
<app-paramConfirmationDialog></app-paramConfirmationDialog>

<div class="add-container">
  <p-button
    styleClass="action-button"
    severity="success"
    icon="pi pi-plus"
    [rounded]="true"
    (click)="showAddIncomeDialog()"
  >
  </p-button>
</div>
