<div>
    <div class="fab-container">
      <p-button type="button" icon="pi pi-plus" class="p-button-rounded p-button-primary" (click)="showAddExpenseDialog()"></p-button>
    </div>
    <p-table [value]="expenseList" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="description">Description</th>
          <th pSortableColumn="amount">Amount</th>
          <th pSortableColumn="type">Type</th>
          <th pSortableColumn="category">Category</th>
          <th pSortableColumn="date">Date</th>
          <th pSortableColumn="note">Note</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-expense>
        <tr>
          <td>{{ expense.description }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.expenseType.name }}</td>
          <td>{{ expense.expenseType.category.name }}</td>
          <td>{{ expense.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{ expense.note }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No expenses found.</td>
        </tr>
      </ng-template>
    </p-table>
  
    <p-dialog header="Add Expense" [styleClass]="'w-[60vh] h-[80vh]'" [(visible)]="displayAddExpenseDialog" [modal]="true" [closable]="true">
      <app-add-expense></app-add-expense>
    </p-dialog>
  </div>