<div class="grid grid-cols-12 gap-4">
  <div class="grow flex flex-wrap col-span-12 mt-3 mb-3 gap-3 rounded-lg">
    <p-floatlabel variant="on">
      <p-datepicker [(ngModel)]="selectedYear" (ngModelChange)="filterExpenses()" view="year" dateFormat="yy" [showButtonBar]="true" ngModel showIcon iconDisplay="input"/>
      <label for="YearLabel">Year</label>
    </p-floatlabel>
    
    <p-floatlabel variant="on">
      <p-datepicker 
       [(ngModel)]="selectedMonth"  (ngModelChange)="filterExpenses()" view="month" dateFormat="mm/yy" [showButtonBar]="true" showIcon  iconDisplay="input"/>
      <label for="MonthLabel">Month</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText id="expenseCount" readonly autocomplete="off" [(ngModel)]="filteredExpenseList.length" />
      <label for="expenseCount">Count</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-inputnumber [(ngModel)]="totalMoneySpent" inputId="expenseTotal" mode="currency" currency="EUR" locale="en-US" />
      <label for="expenseTotal">Total</label>
    </p-floatlabel>

    <p-button label="Clean Selection" severity="secondary" icon="pi pi-times" />

  </div>
  <div class="col-span-12 border-2 rounded-lg">
    <app-expenseTable 
      #expenseTable
      [expenseList]="filteredExpenseList"
      (editExpenseEvent)="showEditExpenseDialog()"
      (deleteExpenseEvent)="deleteExpense()">
    </app-expenseTable>
  </div>
  

  <div class="grow col-span-12 flex flex-wrap gap-4 justify-center">
    <div class="w-96 bg-red-600 h-40 mb-4"></div>
    <div class="w-96 bg-yellow-300 h-40 mb-4"></div>
    <div class="w-96 bg-blue-700 h-40 mb-4"></div>
  </div>


  <p-dialog header="Add Expense" [styleClass]="'w-[60vh] h-[80vh]'" [(visible)]="displayAddExpenseDialog" [modal]="true" [closable]="true">
    <app-add-expense (addNewExpenseCallBack)="addNewExpense($event)"></app-add-expense>
  </p-dialog>

  
  <p-dialog header="Edit Expense" [styleClass]="'w-[60vh] h-[80vh]'" [(visible)]="displayEditExpenseDialog" [modal]="true" [closable]="true">
    <app-edit-expense (editNewExpenseCallBack)="editNewExpense($event)"></app-edit-expense>
  </p-dialog>
</div>

  
<p-toast />
<app-param-confirmation-dialog></app-param-confirmation-dialog>

<div class="add-container">
  <p-button 
    styleClass="action-button" 
    severity="success" 
    icon="pi pi-plus" 
    [rounded]="true" 
    (click)="showAddExpenseDialog()">
  </p-button>
</div> 

<div class="del-container" *ngIf="expenseTable !=undefined && expenseTable.selectedExpenseList && expenseTable.selectedExpenseList.length > 0">
  <p-button  
    styleClass="action-button del-button" 
    severity="danger" 
    icon="pi pi-trash"
    (click)="deleteExpenseList()">
  </p-button>
</div>
