<div class="card">
  <p-table
  [value]="expenseList()"
  [scrollable]="true"
  [resizableColumns]="true"
  [size]="'small'"
  showGridlines
  stripedRows
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 30, 50, 100]"
>
<ng-template #caption>
  <div class="flex flex-wrap items-center justify-between">
    <span class="text-xl font-bold">Expense List</span>
  </div>
</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="w-5">#</th>
      <th pResizableColumn pSortableColumn="description" class="text-left w-80">
        Description
        <p-columnFilter type="text" field="description" display="menu" />
      </th>
      <th pResizableColumn pSortableColumn="amount" class="text-right w-20">
        Cost
        <p-columnFilter
          type="numeric"
          field="amount"
          display="menu"
          currency="EUR"
        />
      </th>
      <th
        pResizableColumn
        pSortableColumn="expenseType.name"
        class="text-right w-40"
      >
        Type
        <p-columnFilter
          field="expenseType.name"
          matchMode="in"
          display="menu"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          class="ml-auto"
        >
          <ng-template #filter let-value let-filter="filterCallback">
            <p-multiselect
              [filter]="true"
              [ngModel]="value"
              [options]="expenseTypeList()"
              optionLabel="name"
              optionValue="name"
              placeholder="Any"
              (onChange)="filter($event.value)"
              class="w-full"
            >
              <ng-template let-type #item>
                <div class="flex items-center gap-2">
                  <span>{{ type.name }}</span>
                </div>
              </ng-template>
            </p-multiselect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th
        pResizableColumn
        pSortableColumn="expenseType.category.name   "
        class="text-right w-40"
      >
        Category
        <p-columnFilter
          field="expenseType.category.name"
          matchMode="in"
          display="menu"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          class="ml-auto"
        >

          <ng-template #filter let-value let-filter="filterCallback">
            <p-multiselect
              [filter]="true"
              [ngModel]="value"
              [options]="expenseCategoryList()"
              optionLabel="name"
              optionValue="name"
              placeholder="Any"
              (onChange)="filter($event.value)"
              class="w-full"
            >
              <ng-template let-category #item>
                <div class="flex items-center gap-2">
                  <span>{{ category.name }}</span>
                </div>
              </ng-template>
            </p-multiselect>
          </ng-template>
        
        </p-columnFilter>
      </th>
      <th pResizableColumn pSortableColumn="date" class="text-right w-32">
        Date
        <p-columnFilter type="date" field="date" display="menu">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-datepicker
              [ngModel]="value"
              (onSelect)="filter($event)"
              dateFormat="dd/mm/yy"
            />
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="w-12 text-center">Action</th>
      <th pResizableColumn pSortableColumn="note">Note</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-expense let-rowIndex="rowIndex">
    <tr
      [pContextMenuRow]="expense"
      [pSelectableRow]="expense"
      [pSelectableRowIndex]="rowIndex"
    >
      <td>{{ rowIndex + 1 }}</td>
      <td>{{ expense.description }}</td>
      <!--<td class="text-right">{{ expense.amount  | number:'1.1-1' }}</td>-->
      <td class="text-right">
        {{ expense.amount | currency : "EUR" : "symbol" : "1.2-2" : "it-IT" }}
      </td>
      <td class="text-right">{{ expense.expenseType.name }}</td>
      <td class="text-right">{{ expense.expenseType.category.name }}</td>
      <td class="text-right">{{ expense.date | date : "dd/MM/yyyy" }}</td>
      <td class="p-0">
        <div>
          <button
            class="border-spacing-0 p-0 m-0"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editExpense(expense)"
            text
            rounded
            severity="secondary"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            (click)="deleteExpense(expense)"
            text
            rounded
            severity="secondary"
          ></button>
        </div>
      </td>
      <td>{{ expense.note }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No expenses found.</td>
    </tr>
  </ng-template>
  </p-table>
</div>
