<div class="card">
  <p-floatlabel variant="on" class="mb-3">
    <p-datepicker
      [(ngModel)]="selectedYear"
      styleClass="w-40"
      (ngModelChange)="processInputData()"
      view="year"
      dateFormat="yy"
      [showButtonBar]="true"
      ngModel
      showIcon
      iconDisplay="input"
    />
    <label for="YearLabel">Year</label>
  </p-floatlabel>

  <p-table showGridlines [size]="'small'" [value]="expenseTypeSummaryList" [scrollable]="true" scrollHeight="600px"
    rowGroupMode="subheader" groupRowsBy="categoryName" [tableStyle]="{'min-width': '60rem'}">
    <ng-template #header>
      <tr class="bg-red-200">
        <th class="bg-transparent">Name</th>
        <th class="bg-transparent w-4">#</th>
        <th class="bg-transparent w-24">Totale</th>
        <th class="bg-transparent w-24">Media</th>
        <th class="bg-transparent w-24">Gen</th>
        <th class="bg-transparent w-24">Feb</th>
        <th class="bg-transparent w-24">Mar</th>
        <th class="bg-transparent w-24">Apr</th>
        <th class="bg-transparent w-24">Mag</th>
        <th class="bg-transparent w-24">Giu</th>
        <th class="bg-transparent w-24">Lug</th>
        <th class="bg-transparent w-24">Ago</th>
        <th class="bg-transparent w-24">Set</th>
        <th class="bg-transparent w-24">Ott</th>
        <th class="bg-transparent w-24">Nov</th>
        <th class="bg-transparent w-24">Dic</th>
      </tr>
    </ng-template>

    <ng-template #groupheader let-expenseType>
      <tr pRowGroupHeader class="bg-slate-400">
        <td colspan="16">
          <div class="flex items-center gap-2">
            <span class="font-bold">{{ expenseType.categoryName }}</span>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #groupfooter let-expenseType>
      <tr class="bg-gray-200">
        <td class="font-bold bg-transparent">Totale</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterCount(expenseType)}}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterSum(expenseType) | number: '1.2-2':'it-IT'}}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterAverage(expenseType) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 0) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 1) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 2) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 3) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 4) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 5) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 6) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 7) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 8) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 9) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 10) | number: '1.2-2':'it-IT' }}</td>
        <td class="bg-transparent">{{ CalculateCategoryGroupFooterMonth(expenseType, 11) | number: '1.2-2':'it-IT' }}</td>
      </tr>
    </ng-template>

    <ng-template #body let-expenseType let-rowIndex="rowIndex">
      <tr>
        <td>{{expenseType.name}}</td>
        <td>{{expenseType.count}}</td>
        <td>{{ expenseType.total | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.average | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.jan | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.feb | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.mar | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.apr | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.may | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.jun | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.jul | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.aug | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.sep | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.oct | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.nov | number: '1.2-2':'it-IT' }}</td>
        <td>{{ expenseType.dec | number: '1.2-2':'it-IT' }}</td>
      </tr>
    </ng-template>

    <ng-template #footer>
      <tr class="!bg-red-400">
      <td class="font-bold bg-transparent">Totale</td>
      <td class="bg-transparent">{{ totalCount}}</td>
      <td class="bg-transparent">{{ totalSum | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalAvg | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[0] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[1] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[2] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[3] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[4] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[5] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[6] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[7] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[8] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[9] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[10] | number: '1.2-2':'it-IT' }}</td>
      <td class="bg-transparent">{{ totalPerMese[11] | number: '1.2-2':'it-IT' }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>